USE [QLSVDb]
GO
/****** Object:  Table [dbo].[Bomon]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bomon](
	[MaBM] [nvarchar](10) NOT NULL,
	[TenBM] [nvarchar](20) NOT NULL,
	[Makhoa] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Bomon] PRIMARY KEY CLUSTERED 
(
	[MaBM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diem]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diem](
	[id] [nvarchar](50) NOT NULL,
	[Id_dk] [nchar](10) NULL,
	[diem] [float] NULL,
 CONSTRAINT [PK_Diem] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DKMH]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DKMH](
	[Malophp] [nvarchar](10) NOT NULL,
	[Masv] [nvarchar](50) NULL,
	[Diemthi] [float] NULL,
	[Phantramthi] [decimal](8, 3) NULL,
	[Id_dk] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DKMH] PRIMARY KEY CLUSTERED 
(
	[Id_dk] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Giaovien]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Giaovien](
	[Magv] [nvarchar](10) NOT NULL,
	[Hoten] [nvarchar](50) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
	[MaBM] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Giaovien] PRIMARY KEY CLUSTERED 
(
	[Magv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gvcn.]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gvcn.](
	[Malop] [nvarchar](10) NOT NULL,
	[Magv] [nvarchar](10) NOT NULL,
	[HK] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Gvcn.] PRIMARY KEY CLUSTERED 
(
	[HK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Khoa]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Khoa](
	[Makhoa] [nvarchar](10) NOT NULL,
	[Tenkhoa] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Khoa] PRIMARY KEY CLUSTERED 
(
	[Makhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop1]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop1](
	[Malop] [nvarchar](10) NOT NULL,
	[Tenlop] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_lop1] PRIMARY KEY CLUSTERED 
(
	[Malop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lophp]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lophp](
	[Malophp] [nvarchar](10) NOT NULL,
	[Tenlophp] [nvarchar](20) NOT NULL,
	[HK] [nchar](10) NOT NULL,
	[Mamon] [nvarchar](10) NOT NULL,
	[Magv] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Lophp] PRIMARY KEY CLUSTERED 
(
	[Malophp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lopsv]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lopsv](
	[Malop] [nvarchar](10) NOT NULL,
	[Masv] [nvarchar](50) NOT NULL,
	[Chucvu] [nvarchar](10) NOT NULL,
 CONSTRAINT [UQ_Lopsv_Masv] UNIQUE NONCLUSTERED 
(
	[Masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monhoc]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monhoc](
	[Mamon] [nvarchar](10) NOT NULL,
	[Tenmon] [nvarchar](50) NOT NULL,
	[Stc] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Monhoc] PRIMARY KEY CLUSTERED 
(
	[Mamon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinhvien]    Script Date: 06/06/2025 10:10:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinhvien](
	[Masv] [nvarchar](50) NOT NULL,
	[Tensv] [nvarchar](50) NOT NULL,
	[Ngaysinh] [date] NOT NULL,
 CONSTRAINT [PK_Sinhvien] PRIMARY KEY CLUSTERED 
(
	[Masv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bomon]  WITH CHECK ADD  CONSTRAINT [FK_Bomon_Khoa] FOREIGN KEY([Makhoa])
REFERENCES [dbo].[Khoa] ([Makhoa])
GO
ALTER TABLE [dbo].[Bomon] CHECK CONSTRAINT [FK_Bomon_Khoa]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [FK_Diem_DKMH] FOREIGN KEY([Id_dk])
REFERENCES [dbo].[DKMH] ([Id_dk])
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [FK_Diem_DKMH]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_Lophp] FOREIGN KEY([Malophp])
REFERENCES [dbo].[Lophp] ([Malophp])
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [FK_DKMH_Lophp]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [FK_DKMH_Sinhvien] FOREIGN KEY([Masv])
REFERENCES [dbo].[Sinhvien] ([Masv])
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [FK_DKMH_Sinhvien]
GO
ALTER TABLE [dbo].[Giaovien]  WITH CHECK ADD  CONSTRAINT [FK_Giaovien_Bomon] FOREIGN KEY([MaBM])
REFERENCES [dbo].[Bomon] ([MaBM])
GO
ALTER TABLE [dbo].[Giaovien] CHECK CONSTRAINT [FK_Giaovien_Bomon]
GO
ALTER TABLE [dbo].[Gvcn.]  WITH CHECK ADD  CONSTRAINT [FK_Gvcn._Giaovien] FOREIGN KEY([Magv])
REFERENCES [dbo].[Giaovien] ([Magv])
GO
ALTER TABLE [dbo].[Gvcn.] CHECK CONSTRAINT [FK_Gvcn._Giaovien]
GO
ALTER TABLE [dbo].[Gvcn.]  WITH CHECK ADD  CONSTRAINT [FK_Gvcn._lop1] FOREIGN KEY([Malop])
REFERENCES [dbo].[lop1] ([Malop])
GO
ALTER TABLE [dbo].[Gvcn.] CHECK CONSTRAINT [FK_Gvcn._lop1]
GO
ALTER TABLE [dbo].[Lophp]  WITH CHECK ADD  CONSTRAINT [FK_Lophp_Giaovien] FOREIGN KEY([Mamon])
REFERENCES [dbo].[Monhoc] ([Mamon])
GO
ALTER TABLE [dbo].[Lophp] CHECK CONSTRAINT [FK_Lophp_Giaovien]
GO
ALTER TABLE [dbo].[Lophp]  WITH CHECK ADD  CONSTRAINT [FK_Lophp_Monhoc] FOREIGN KEY([Mamon])
REFERENCES [dbo].[Monhoc] ([Mamon])
GO
ALTER TABLE [dbo].[Lophp] CHECK CONSTRAINT [FK_Lophp_Monhoc]
GO
ALTER TABLE [dbo].[Lopsv]  WITH CHECK ADD  CONSTRAINT [FK_Lopsv_lop1] FOREIGN KEY([Malop])
REFERENCES [dbo].[lop1] ([Malop])
GO
ALTER TABLE [dbo].[Lopsv] CHECK CONSTRAINT [FK_Lopsv_lop1]
GO
ALTER TABLE [dbo].[Diem]  WITH CHECK ADD  CONSTRAINT [CK_Diem] CHECK  (([diem]>=(0) AND [diem]<=(10)))
GO
ALTER TABLE [dbo].[Diem] CHECK CONSTRAINT [CK_Diem]
GO
ALTER TABLE [dbo].[DKMH]  WITH CHECK ADD  CONSTRAINT [CK_DKMH] CHECK  (([Diemthi]>=(0) AND [Diemthi]<=(10) AND [Phantramthi]>=(0) AND [Phantramthi]<=(100)))
GO
ALTER TABLE [dbo].[DKMH] CHECK CONSTRAINT [CK_DKMH]
GO
